#divToPrint{
    margin: 10px; 
}
caption {
    caption-side: top;
    text-align: center;
}
table, td{
    width: 100%;  
    border: 1px solid #fff;
}

.table_resultat td{
    width: 20%;
    border: 1px solid #ddd; 
}
.table_resultat th{ 
    border: 1px solid #ddd; 
}