.rapport_header {
    margin-bottom:15px;
}
.report_title{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0px;
    margin: 5px;
}
.metadata {
    font-size: 13px;
}
.metadata strong {
    text-decoration: underline;
}
.metadata span {
    padding-left: 5px;
}

.determinations{
    text-align: right;
    padding:5px;
    border-bottom: 1px dashed #000000;
}
.echantillons{
    text-align: left;
    padding:5px;
}
.table_resultat {
    font-size: 12px;
    width: 100%;
}

.table_resultat tr th {
    border: 1px solid #000000;
    padding: 2px;
    font-size: 12px;
}

.table_resultat tr td {
    border: 1px solid #000000;
    padding: 3px;
    font-size: 12px;
    text-align: center;
}

.conclusion_box {
    font-size: 13px;
    padding-left: 10px;
    text-align: left;
}

.conclusion_box span {
    padding-left: 5px;
}

.conclusion_box strong {
    text-decoration: underline;
}

.signature {
    padding-left:10px;
    text-align: left;
}
