@import url('https://unpkg.com/leaflet@1.3.1/dist/leaflet.css');

// Here you can add other styles
.bg-primary, .btn-primary, .sidebar{
    background-color:#246195 !important;
} 

.btn-primary:hover {
    background-color:#CF513D !important;
    border: 1px solid #CF513D
 }

.sidebar .nav-link .nav-icon{
     color: #ffffff;
}

.navbar{
     background-color: #fff;
     color: #246195;
}

.sidebar .nav-title{
    color: #1ac50e;
    font-weight: bold;
}
.sidebar .divider{
    border-bottom: 1px solid #1ac50e;
}
 
.app-header .navbar-toggler-icon {
    color: #CF513D;
} 

.leaflet-container {
    height: 650px;
    width: 800px;
} 